doctype html
html 
    head
        link(link rel="stylesheet" href="https://unpkg.com/mvp.css")
        title #{pageTitle}
    body 
        main 
            a(href="/videos/upload") Video Upload
            h1=pageTitle
            block content
        include partials/footer