doctype html
html 
    head
        link(link rel="stylesheet" href="https://unpkg.com/mvp.css")
        title #{pageTitle}
    body 
        main 
            ul
                li 
                    a(href="/videos/upload") Video Upload
                li
                    a(href="/") Home 
                li 
                    a(href="/search") Search
                if !loggedIn
                    li 
                        a(href="/login") Login
                    li
                        a(href="/join") Join
                else
                    li 
                        a(href="/logout") Logout
                    
                    li
                        img(src=user.avatarUrl alt="") 
                        a(href="/profile") profile #{user.userName}
            h1=pageTitle
            block content
        include partials/footer