extends base

block content 
    form(action="", method="POST")
        input(name="title", placeholder="Video Title", value=`${video.title}`, required, type="text")
        input(type="submit", value="Save")